<h2>Events</h2>
<a href="https://www.meetup.com/WorthingDigital/" class="meetupLink">Never miss an event <br /> join our {{ group.members }} members on meetup</a>
{% for event in events%}
	{#% if event.announced %#}
	<div class="event">
		<a href="{{ event.event_url}}" title="{{event.name}}, {{event.time | date }} ">
			<h2>{{event.name}}</h2>
			<p>{{event.venue.name}}, {{event.venue.address_1}}</p>
			<p>{{event.time | date }}</p>
			<div class="description">{{event.description | safe }}</div>
		</a>
	</div>
	{#% endif %#}
{% endfor %}