<h2 class="events">Events</h2>
<a href="https://www.meetup.com/WorthingDigital/" class="meetupLink">Never miss an event <br /> join our {{ group.members }} members on meetup</a>
{% for event in events%}
	{% if event.announced %}
	<div class="event {% if(event.name =='The End of Digital')%}special{% endif %}">
		<a href="{{ event.event_url}}" title="{{event.name}}, {{event.time | date }} ">
			<h3>{{event.name}}</h3>
			<p>{{event.venue.name}}, {{event.venue.address_1}}</p>
			<p>{{event.time | date }}</p>
			<div class="description">
			{% if (event.photo_url)%}
				<img src="{{event.photo_url}}" alt="event photo" />
			{% endif %}
			{{event.description | safe }}</div>
		</a>
	</div>
	{% endif %}
{% endfor %}
<div class="pastEvents">
	<h3>Past events</h3>
	<ul>
		<li><a href="https://www.youtube.com/user/WorthingDigital">See past talks on YouTube</a></li>
		<li><a href="https://www.meetup.com/WorthingDigital/events/past/">See what we've done on Meetup.com</a></li>
	</ul>
</div>