<a href="//www.stealth-it.com"" title="Stealth iT Recruitment" rel="external"  class="sponsor"  target="_blank">
		<img src="images/sponsorsandsupporters/stealth_logo_.png" alt="Stealth iT Recruitment">
<div class="blurb">
	<p>Stealth It Recruitment are  digital IT and big data technology consultancy, specialising in finding high quality people for high quality roles.</p>
	<p>Our consultants are expert in the the areas that they recruit in and are with us for the long haul; who you speak with today will be here tomorrow.</p> 
	<p>At Stealth we take time to get to know you, match your skills and personality to the right company, ensuring we find the best fit for you.</p>

</div>

</a>