$primary-color: #333;
$meetup-color: #f13a59;
$meetup-hover-color: #e81035;
body {
  padding: 50px;
  background: white;
  color: $primary-color;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#contents{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 8fr 2fr;

	main{
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 3fr 3fr 3fr;

		header{
			grid-column: span 2;
		}
		h2 {
			grid-column: span 2;
		}
		.tweet{
			border: 1px solid #efefef;
			padding: 20px
		}
		.event{
			a{
				color: $primary-color;
				text-decoration:none;
				h2{
					transition: color 1s ease;
				}
				.description{
					display: none
				}
			&:hover {
					h2{
						transition: color 1s ease;
						color:$meetup-color;
					}
					p{
						text-decoration: underline;
					}
				}
			}

		}
		.event:first-of-type{
			grid-column: span 2;
			grid-row: span 2;
			background-color: #efefef;
			border: 1px solid #ccc;
			padding: 20px;
			
			.description{
				display:block;
			}
		}
	}
	aside{
		display: grid;
		grid-gap: 20px;
		grid-template-rows: 300px;

		div a{
			display: block;
			height: 100%;
			text-align: center;
    		align-self: center;
    		border: 1px solid  #efefef;
    		color: $primary-color;
    		text-decoration: none;
    		font-weight: bold;
    		.link-log0{
    			transition-duration: 1s;
    		}
    		&:hover{
    			text-decoration: underline;

    			.link-logo{

    				transform: rotate(-5deg);

    			}
    		}
		}
	}
}
.meetupLink{
	background-color: $meetup-color;
	color: #fff;
	border-radius: 3px;
	text-align: center;
	align-self: center;
	padding: 5px;
	text-decoration: none;
	font-size: 1.2em;
	align-items: center;
	&:hover{
		background-color: $meetup-hover-color;
	}
		
}

footer{
	margin-top: 20px;
	border-top: 1px solid #ccc;
	line-height: 3;
}