$primary-color: #333;
$meetup-color: #f13a59;
$meetup-hover-color: #e81035;
$worthingdigital-color: #F04719;
$light-grey: #efefef;
$mid-grey: #ccc;
$white: #fff;

$heading-font: 'Montserrat', sans-serif;
body {
  padding: 50px;
  background: white;
  color: $primary-color;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1300px;
  margin: auto;
  > header {
  	margin-bottom: 2em;
  }
}

a {
  color: #00B7FF;
  &:focus{
				outline: $worthingdigital-color auto 5px;
			}
}
h1, h2, h3, h4{
	font-family: $heading-font
}

#contents{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 8fr 2fr;

	main{
		display: grid;
		grid-auto-flow: dense;
		grid-gap: 20px;
		grid-template-columns: 3fr 3fr 3fr;

		header{
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: 2fr 1fr;
			background-color: $light-grey;
			border: 1px solid $mid-grey;
			padding: 20px;
			.description {
				font-family: $heading-font;
				font-size: 1.2em;
			}
			.photos{
				text-align:right;
			}
		}
		section{
			grid-column: 1 / -1;
			display: grid;
			grid-auto-flow: dense;
			grid-gap: 20px;
			grid-template-columns: 3fr 3fr 3fr;
			align-items: center;
		}
		.tweet{
			border: 1px solid $light-grey;
			padding: 20px
		}
		.event{

			a{
				color: $primary-color;
				text-decoration:none;

				h3{
					transition: color 1s ease;
				}
				.description{
					display: none
				}
			&:hover {
					h3{
						transition: color 1s ease;
						color:$meetup-color;
					}
					p{
						text-decoration: underline;
					}
				}
			}


		}
		.event:first-of-type{
			grid-column: span 2;
			grid-row: span 2;
			background-color: $light-grey;
			border: 1px solid $mid-grey;
			padding: 20px;
			
			.description{
				display:block;
			}
		}
		.event.special{
			border: 1px solid $worthingdigital-color;
			grid-column: 1 / -1;
			padding: 20px;
			background-color: #efefef;
			position: relative;
			h3::before{
				content: 'Special Event';
				display: block;
				background-color: $worthingdigital-color;
				padding: 10px;
				position: absolute;
				top: -5px;
				left: -10px;
				color: $white;
				font-size: 0.8em;
			}
		}
		#mailchimp{
			grid-column: 1 / -1;
			#mc_embed_signup form{
				padding: 0;
			}
			#mc_embed_signup details div{
				max-width: 50%;
				.button {
				background-color: $worthingdigital-color;
			}
			}
		}
		h1{
			font-size: 3.5em
		}
		h2, h3{
			font-size: 1.5em;
		}
		h2{
				grid-column: 1 / -1;
				font-size: 3em;
			}
		h2.events{
			grid-column: span 2;
		}
		summary{
			font-size: 2em;
			font-weight: bold;
			font-family: $heading-font;
			color: $worthingdigital-color;
			&:hover{
				cursor: pointer;
			}
			&:focus{
				outline: $worthingdigital-color auto 5px;
			}
		}
		.sponsor{
			color: $primary-color;
			text-decoration: none;
			position: relative;
			&.gold{
				grid-column: span 2;
			}
			&.dark{
				background-color:#888;
			}
			img{
				max-width: 100%;
			}
			.blurb{
				display:none;
			}
			&:focus, &:hover{
				.blurb{
					display:block;
					position: absolute;
					bottom:0;
					left:0;
					background-color: rgba(255, 255, 255, 0.8);
					width: 100%;
				}
			}
		}
	}
	aside{
		display: grid;
		grid-gap: 20px;
		grid-template-rows: 6em 300px;
		padding: 20px;
		border: 1px solid $light-grey;

		h2{
			color: $worthingdigital-color;
			font-size: 2.2em
		}

		div {
			max-height: 300px;

			a{
			display: block;
			height: 100%;
			text-align: center;
    		align-self: center;
    		color: $primary-color;
    		text-decoration: none;
    		font-family: $heading-font;
    		font-size: 1.2em;
    		font-weight: bold;
    		.link-logo{
    			transition-duration: 1s;
    		}
    		&:hover{
    			text-decoration: underline;

    			.link-logo{

    				transform: rotate(-5deg);

    			}
    		}
		}
		}
	}
}

a.supporter > * {
	width:100%;
}
.meetupLink{
	background-color: $meetup-color;
	color: $white;
	border-radius: 3px;
	text-align: center;
	align-self: center;
	padding: 5px;
	text-decoration: none;
	font-size: 1.2em;
	align-items: center;
	&:hover{
		background-color: $meetup-hover-color;
	}
		
}

footer{
	grid-template-columns: 1fr 1fr;
	display: grid;
	margin-top: 20px;
	border-top: 1px solid $mid-grey;
	line-height: 3;

	small{
		text-align: right;
		line-height:8
	}
}

@media only screen and (max-device-width : 1024px), 
only screen and (max-width : 900px){
	#contents{
	grid-template-columns: 1fr;
	main{
		grid-template-columns: 1fr 1fr;
		section{
			grid-template-columns: 1fr 1fr;
		}
		.meetupLink{
				grid-column: span 2;
			}
		#mailchimp #mc_embed_signup details div{
			width: 100%;
		}

	}
	aside{
		display: grid;
		grid-gap: 20px;
		grid-template-rows: 6em 500px;
		grid-template-columns: 1fr 1fr;
		h2{
			grid-column: span 2;
		}
		div{
			max-height:500px;
		}
	}
}
footer{
	grid-template-columns: 1fr;
	line-height: 1.2;
	small {
		line-height: 1.2;
		text-align: left;
	}
}
}