{% extends 'layout/default.html' %}
{% block content %}
		{% include 'includes/_header.html'%}

	<!--<img src="{{ group.key_photo.photo_link}}" alt="">-->
	<div id="contents">
		<main>
						
			<article>
				<div>
					<h1>Get Online Week 2020</h1>
					<img src="/images/getonline/1sj.png" alt="" style=" margin: 0 20px 0 0 ; max-width:45%">
					<img src="/images/getonline/CF.png" alt="" style="m; max-width:45%">
					<h2> 18  &mdash; 25 October 2020</h2>
					<p>
						Over the course of the week, in collaboration with partners <a href="https://onestopjunction.org.uk">OneStop Junction</a>, <a href="https://worthingandadurchamber.co.uk">Worthing & Adur Chamber of Commerce</a> and <a href="https://www.cityfibre.com">CityFibre</a>, we are running learning events across a broad range of topics delivered by experienced experts. 
					</p>
					<p>All events are free but places will be limited. Reserve your place by clicking on ‘Sign up on Meetup.com’ under each session.</p>
					<h2>Get online week events</h2>
					<div>
						<h3>Eat healthy for less with Claudia and Ffion from UKHarvest</h3>
						<h4>Monday, October 19, 2020 11:00 am</h4>
						<p><img src="/images/getonline/Hav.jpg" alt="" style="float:right; margin: 0 0 20px 20px; max-width:25%">
						Shopping and cooking healthy meals can seem daunting, especially when you’re on a budget. During the session we will explore how you can shop for and produce healthy meals without breaking the bank. By the end of the session you will have the confidence to make small changes to your weekly shop and the recipes you make!</p>
						<p>
							<img src="/images/getonline/hav2.jpg" alt="" style="float:left; margin: 0 20px 0 0 ; max-width:25%">The session will be hosted by UKHarvest Claudia and Ffion - Claudia an expert educator around all things food and Ffion an Associate Nutritionist with the Association for Nutrition, you know you’re in great hands. Get involved as much or a little as you want, take part in polls and fire questions.</p>
						<p><a href="https://www.meetup.com/WorthingDigital/events/273819403/">Sign up on Meetup.com</a></p>
					</div>
										<hr />
					<div>
						<h3>Promoting Yourself Online with Kelly O’Haire</h3>
						<h4>Tuesday, October 20, 2020 1pm</h4>
						<p><img src="/images/getonline/Kelly.jpg" alt="" style="float:right; margin: 0 0 0 20px ; max-width:50%">Are you in need of online presence? Whether you’re a writer, photographer, business owner or artist, you are going to need an online presence to help promote yourself and your business. Kelly will give you hints and tips on how to gain exposure, which platforms to use (Linkedin, Facebook, Twitter, Instagram, etc).</p>

						<p>
							<img src="/images/getonline/Seaside.png" alt="" style="float:left; margin: 0 20px 0 0 ; max-width:46%">Expert Communicator, Marketer, Business Improver. Kelly has worked in marketing and communications for over 25 years. Has a degree in PR and CIM Diploma in Digital Marketing and when not at work, runs a busy home life, enjoys running, keeping fit, singing in a band and if available enjoys the odd glass of wine! 
</p>
						<p><a href="https://www.meetup.com/WorthingDigital/events/273899946/?isFirstPublish=true">Sign up on Meetup.com</a></p>

					</div>
					<hr />
					<div>
						<h3>Starting a Blog: Why What and How with Meg Fenn</h3>
						<h4>Thursday, October 22, 2020 7pm</h4>
						<p><img src="/images/getonline/mf.jpg" alt="" style="float:left; margin: 0 20px 0 0 ; max-width:50%"> Are you thinking of starting up a blog? This session will give you some top tips on why starting a blog could be for you, what to write about and how to get your blog up and running. It will include planning, getting started, some of the blogging platforms available and how to create engaging blog posts. It will also cover a few other things to support your blog such as SEO and marketing considerations. Questions will be welcomed.</p>

						<p>About Meg: During the past 20 years, Meg has set up and run two Limited creative design and marketing companies, founded an award-winning blog based on her book Bringing Up Brits: Expat Parents Raising Cross-Cultural Kids in Britain and is now working as a contract creative designer, is on the WorthingDigital committee, and champions creativity.</p>
						<p><a href="https://www.meetup.com/WorthingDigital/events/273818053/">Sign up on Meetup.com</a></p>

					</div>
					<hr />
					<div>
						<h3>Advice for Small Businesses and Charities with Kelly O’Haire</h3>
						<h4>Friday, October 23, 2020 1pm</h4>
						<p><img src="/images/getonline/Kelly.jpg" alt="" style="float:right; margin: 0 0 0 20px ; max-width:50%">Looking for help to reach out to potential customers, clients, volunteers or supporters? Not sure where to start? Come along to this short and engaging presentation for online communications, something known as marketing! How to leverage the most out of email, social media, websites and even face to face meetings, once we are all allowed out! Kelly will give hints and tips to help guide you to where you want to be.</p>

						<p>
							<img src="/images/getonline/Seaside.png" alt="" style="float:left; margin: 0 20px 0 0 ; max-width:46%">Expert Communicator, Marketer, Business Improver. Kelly has worked in marketing and communications for over 25 years. Has a degree in PR and CIM Diploma in Digital Marketing and when not at work, runs a busy home life, enjoys running, keeping fit, singing in a band and if available enjoys the odd glass of wine! 
</p>
						<p><a href="https://www.meetup.com/WorthingDigital/events/273830871/">Sign up on Meetup.com</a></p>

					</div>
					<hr />
					<div>
						<h3>Staying Safe Online Webinar</h3>
						<h4>Monday & Wednesday 19th & 21st October</h4>

						<p><img src="/images/getonline/safe.jpeg" alt="" style="float:right; margin: 0 0 0 20px ; max-width:45%">To help support Go Online Week, West Sussex County Council Staying Safe Online are hosting webinars aimed at the community to provide information on support on how to stay safe online.</p>
						<ul>
							<li>Each session will cover: Awareness of online safety & the risks</li>
							<li>Simple steps to stay safe online</li>
							<li>Practical measures you can put in place to safeguard yourself</li>
							<li>Information on support and resources you can utilise</li>
						</ul>
						<small>The webinar will be hosted on MS teams.</small>
						<p><a href="https://www.eventbrite.co.uk/e/staying-safe-online-webinar-tickets-123188916365">Sign up for the Monday session</a></p>
						<p><a href="https://www.eventbrite.co.uk/e/staying-safe-online-webinar-tickets-123192697675">Sign up for the Wednesday session</a></p>

					</div>
					<!--
					<div>
						<h3></h3>
						<h4></h4>
						<p></p>
						<p><a href="">Sign up on Meetup.com</a></p>

					</div>
					-->
				</div>
							
			</article>
			
			
			

		</main>
		<aside>
			<h2>Get involved</h2>
			{% include 'includes/social/_slack.html'%}
			{% include 'includes/social/_facebook.html'%}
			{% include 'includes/social/_meetup.html'%}
			
		</aside>
	</div>
	<footer>
		<p>&copy; 2020 WorthingDigital</p>
		<small>Meetup sponsorship, website development and hosting by Intelligent Lime Ltd</small>
	</footer>
{% endblock %}