{% extends 'layout/default.html' %}
{% block content %}
	<header>
		<img src="{{ group.group_photo.highres_link}}" alt="WorthingDigital Logo">
	</header>
	<!--<img src="{{ group.key_photo.photo_link}}" alt="">-->
	<div id="contents">
		<main>
			<header id="header" class="">
				<h1>{{ group.name }}</h1>
				
				{{group.description | safe }}
				</header><!-- /header -->
				
				
				
				{% include 'includes/_events.html'%}
			</main>
			<aside>
				{% include 'includes/_slack.html'%}
				{% include 'includes/_twitter.html'%}
				{% include 'includes/_facebook.html'%}
			</aside>
		</div>
		<footer>
			&copy; 2018 WorthingDigital
		</footer>
	{% endblock %}