{% extends 'layout/default.html' %}
{% block content %}
	{% include 'includes/_header.html'%}
	<!--<img src="{{ group.key_photo.photo_link}}" alt="">-->
	<div id="contents">
		<main>
			<header id="header">
				<div class="description">
					<h1>Worthing Who?</h1>
					{{group.description | safe}}
					Meet the <a href="/team">committee</a> behind WorthingDigital
				</div>
				<div class="photos">
					<img src="images/rachel.jpg" alt="WorthingDigital Talks" height="175">
					<img src="images/pub.jpg" alt="WorthingDigital Socials" height="175">
				</div>	
			</header><!-- /header -->

					{% include 'includes/_events.html'%}
					{% include 'includes/social/_mailchimp.html'%}
					{% include 'includes/social/_tweet.html'%}
					{% include 'includes/supporters/index.html'%}

				</main>
					{% include 'includes/aside.html'%}
			</div>
			<footer>
				<p>&copy; 2018 WorthingDigital</p>
				<small>Meetup sponsorship, website development and hosting by Intelligent Lime Ltd</small>
			</footer>
		{% endblock %}