body {
  padding: 50px;
  background: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 3fr 3fr; }
  main h1 {
    grid-column: span 3; }
