body {
  padding: 50px;
  background: white;
  color: #333;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1300px;
  margin: auto; }
  body > header {
    margin-bottom: 2em; }

a {
  color: #00B7FF; }
  a:focus {
    outline: #F04719 auto 5px; }

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif; }

#contents {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 8fr 2fr; }
  #contents main {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 20px;
    grid-template-columns: 3fr 3fr 3fr; }
    #contents main header {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 2fr 1fr;
      background-color: #efefef;
      border: 1px solid #ccc;
      padding: 20px; }
      #contents main header .description {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2em; }
      #contents main header .photos {
        text-align: right; }
    #contents main section {
      grid-column: 1 / -1;
      display: grid;
      grid-auto-flow: dense;
      grid-gap: 20px;
      grid-template-columns: 3fr 3fr 3fr;
      align-items: center; }
    #contents main .tweet {
      border: 1px solid #efefef;
      padding: 20px; }
    #contents main .event a {
      color: #333;
      text-decoration: none; }
      #contents main .event a h3 {
        transition: color 1s ease; }
      #contents main .event a .description {
        display: none; }
      #contents main .event a:hover h3 {
        transition: color 1s ease;
        color: #f13a59; }
      #contents main .event a:hover p {
        text-decoration: underline; }
    #contents main .event:first-of-type {
      grid-column: span 2;
      grid-row: span 2;
      background-color: #efefef;
      border: 1px solid #ccc;
      padding: 20px; }
      #contents main .event:first-of-type .description {
        display: block; }
    #contents main .event.special {
      border: 1px solid #F04719;
      grid-column: 1 / -1;
      padding: 20px;
      background-color: #efefef;
      position: relative; }
      #contents main .event.special h3::before {
        content: 'Special Event';
        display: block;
        background-color: #F04719;
        padding: 10px;
        position: absolute;
        top: -5px;
        left: -10px;
        color: #fff;
        font-size: 0.8em; }
    #contents main .pastEvents {
      background-color: #efefef;
      border: 1px solid #ccc;
      padding: 20px; }
      #contents main .pastEvents ul {
        list-style-type: none;
        padding: 0; }
        #contents main .pastEvents ul li {
          margin-bottom: 1em; }
        #contents main .pastEvents ul a {
          color: #333; }
    #contents main #mailchimp {
      grid-column: 1 / -1; }
      #contents main #mailchimp #mc_embed_signup form {
        padding: 0; }
      #contents main #mailchimp #mc_embed_signup details div {
        max-width: 50%; }
        #contents main #mailchimp #mc_embed_signup details div .button {
          background-color: #F04719; }
    #contents main h1 {
      font-size: 3.5em; }
    #contents main h2, #contents main h3 {
      font-size: 1.5em; }
    #contents main h2 {
      grid-column: 1 / -1;
      font-size: 3em; }
    #contents main h2.events {
      grid-column: span 2; }
    #contents main summary {
      font-size: 2em;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      color: #F04719; }
      #contents main summary:hover {
        cursor: pointer; }
      #contents main summary:focus {
        outline: #F04719 auto 5px; }
    #contents main .sponsor {
      color: #333;
      text-decoration: none;
      position: relative; }
      #contents main .sponsor.gold {
        grid-column: span 2; }
      #contents main .sponsor.dark {
        background-color: #888; }
      #contents main .sponsor img {
        max-width: 100%; }
      #contents main .sponsor .blurb {
        display: none; }
      #contents main .sponsor:focus .blurb, #contents main .sponsor:hover .blurb {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%; }
  #contents aside {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 6em 300px;
    padding: 20px;
    border: 1px solid #efefef;
    min-width: 235px; }
    #contents aside h2 {
      color: #F04719;
      font-size: 2.2em; }
    #contents aside div {
      max-height: 300px; }
      #contents aside div a {
        display: block;
        height: 100%;
        text-align: center;
        align-self: center;
        color: #333;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2em;
        font-weight: bold; }
        #contents aside div a .link-logo {
          transition-duration: 1s; }
        #contents aside div a:hover {
          text-decoration: underline; }
          #contents aside div a:hover .link-logo {
            transform: rotate(-5deg); }

a.supporter > * {
  width: 100%; }

.meetupLink {
  background-color: #f13a59;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  align-self: center;
  padding: 5px;
  text-decoration: none;
  font-size: 1.2em;
  align-items: center; }
  .meetupLink:hover {
    background-color: #e81035; }

footer {
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  line-height: 3; }
  footer small {
    text-align: right;
    line-height: 8; }

@media only screen and (max-device-width: 1024px), only screen and (max-width: 900px) {
  #contents {
    grid-template-columns: 1fr; }
    #contents main {
      grid-template-columns: 1fr 1fr; }
      #contents main section {
        grid-template-columns: 1fr 1fr; }
      #contents main .meetupLink {
        grid-column: span 2; }
      #contents main #mailchimp #mc_embed_signup details div {
        width: 100%; }
    #contents aside {
      display: grid;
      grid-gap: 20px;
      grid-template-rows: 6em 500px;
      grid-template-columns: 1fr 1fr; }
      #contents aside h2 {
        grid-column: span 2; }
      #contents aside div {
        max-height: 500px; }
  footer {
    grid-template-columns: 1fr;
    line-height: 1.2; }
    footer small {
      line-height: 1.2;
      text-align: left; } }
